@use '../../variables/colors' as c;
.loader{
    background-color:rgba(white, .6) ;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loading-ball{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation: bouncing-ball .9s ease-in-out infinite alternate ;
}
@keyframes bouncing-ball {
    from {
        transform: scaleX(1) scaleY(1) translateY(-200%) ;
        
    }
    to{
        transform: scaleX(1.1) scaleY(.85) translateY(0);
    }
}
