<footer class="footer">
    <section class="footer-info">
        <div class="footer-info-item">
            <span>Teams Registered</span>
            <i class="fa-solid fa-people-group"></i>
            <span>52</span>
        </div>
        <div class="footer-info-item">
            <span>Players</span>
            <i class="fa-solid fa-person"></i>
            <span>612</span>
        </div>
        <div class="footer-info-item">
            <span>Games Played</span>
            <i class="fa-solid fa-basketball"></i>
            <span>521</span>
        </div>
    </section>
    
    <section class="policy">
        <span>
            <a href="/frontend/#!/privacyPolicy" class="footer-link">Privacy policy</a>
            <a href="/frontend/#!/statue" class="footer-link">Statue</a>
        </span>
        <span>
            Copyrights &copy; 2023 PABL 
        </span>
        <span>
            Developed by: Dominik Noga
        </span>
    </section>
</footer>