<div class="burger" ng-click="toggleBurgerAnimation()">
    <div class="bar top" 
        ng-class="{'top-animated': navOpen, 'top-animated-reverse':!navOpen}">
    </div>
    <div class="bar center"
        ng-class="{'center-animated': navOpen, 'center-animated-reverse':!navOpen}">
    </div>
    <div class="bar bottom"
        ng-class="{'bottom-animated': navOpen, 'bottom-animated-reverse':!navOpen}">
    </div>
</div>
<ul class="nav-list" ng-show="navOpen" ng-if="navOpen">
    <li class="nav-item">
        <a href="/frontend/#!/home" class="nav-link"><i class="fa-solid fa-house"></i>Home</a>
    </li>
    <li class="nav-item">
        <a href="/frontend/#!/teams" class="nav-link"><i class="fa-solid fa-basketball"></i>teams</a>
    </li>
    <li class="nav-item">
        <a href="/frontend/#!/standings" class="nav-link"><i class="fa-solid fa-ranking-star"></i>Standings</a>
    </li>
    <li class="nav-item">
        <a href="/frontend/#!/schedule" class="nav-link"><i class="fa-solid fa-calendar-days"></i>Schedule</a>
    </li>
    <li class="nav-item">
        <a href="/frontend/#!/stats" class="nav-link"><i class="fa-solid fa-chart-simple"></i>Stats</a>
    </li>
    <li class="nav-item" ng-hide="isLogged">
        <a href="/frontend/#!/register" class="nav-link">
            <i class="fa-solid fa-user-plus"></i>
            Sign Up
        </a>
    </li>
    <li class="nav-item" ng-hide="isLogged">
        <a href="/frontend/#!/login" class="nav-link">
            <i class="fa-solid fa-user"></i>
            Sign In
        </a>
    </li>
    <li class="nav-item logout-icon" ng-show="isLogged">           
        <button class="logout-btn" ng-click="logout()">
            <i title="Logout" class="fa-solid fa-right-from-bracket "></i>
            Logout
        </button>   
    </li>
</ul>
