<ul class="nav-list-left" ng-controller="RouteController">
    <li class="nav-item">
        <a href="/frontend/#!/home" class="nav-link" ng-class="{'nav-link-active':currentPage === 'home'}" ng-click="setActive()">
            <i class="fa-solid fa-house"></i>Home
        </a>
    </li>
    <li class="nav-item">
        <a href="/frontend/#!/teams" class="nav-link" ng-class="{'nav-link-active':currentPage === 'teams'}" ng-click="setActive()" ><i class="fa-solid fa-basketball"></i>teams</a>
    </li>
    <li class="nav-item">
        <a href="/frontend/#!/standings" class="nav-link" ng-class="{'nav-link-active':currentPage === 'standings'}" ng-click="setActive()">
            <i class="fa-solid fa-ranking-star"></i>Standings
        </a>
    </li>
    <li class="nav-item">
        <a href="/frontend/#!/schedule" class="nav-link" ng-class="{'nav-link-active':currentPage === 'schedule'}" ng-click="setActive()">
            <i class="fa-solid fa-calendar-days"></i>Schedule
        </a>
    </li>
    <li class="nav-item">
        <a href="/frontend/#!/stats" class="nav-link" ng-class="{'nav-link-active':currentPage === 'stats'}" ng-click="setActive()">
            <i class="fa-solid fa-chart-simple"></i>Stats
        </a>
    </li>

</ul>
<ul class="nav-list-right">
    <li class="nav-item" ng-hide="isLogged">
        <a href="/frontend/#!/register" class="nav-link" ng-class="{'nav-link-active':currentPage === 'register'}" ng-click="setActive()">
            <i class="fa-solid fa-user-plus"></i>
            Sign Up
        </a>
    </li>
    <li class="nav-item" ng-hide="isLogged">
        <a href="/frontend/#!/login" class="nav-link" ng-class="{'nav-link-active':currentPage === 'login'}" ng-click="setActive()">
            <i class="fa-solid fa-user"></i>
            Sign In
        </a>
    </li>
    <li class="nav-item logout-icon" ng-show="isLogged">           
        <button class="logout-btn" ng-click="logout()">
            <i title="Logout" class="fa-solid fa-right-from-bracket "></i>
            Logout
        </button>   
    </li>
</ul>
