<section class="latest-games">
    <button class="arrow-left">
        <i class="fa-solid fa-caret-left"></i>
    </button>
    <ul class="games-slider">
        <li class="game-tile" ng-repeat="game in games">
            <div class="game-time">
                {{game.gameDate.toLocaleString('pl', { 
                    day:'numeric',
                    month: 'numeric',
                    year:'numeric',
                    hour:'numeric',
                    minute:'numeric'
                });}}
            </div>
            <section class="game-section">
                <b>Score</b>
                <span class="team">
                    {{game.team1}}
                </span>
                <span class="teamScore">{{ game.t1Points}}</span>
                <span class="team">
                    {{game.team2}}
                </span>
                <span class="teamScore">{{ game.t2Points}}</span>
            </section>
            <div class="game-venue">
                {{game.venue}}
            </div>
        </li>
    </ul>
    <button class="arrow-right">
        <i class="fa-solid fa-caret-right"></i>
    </button>
</section>

</section>