<section class="games-slider" ng-include="'components/games-slider.html'"></section>
<section class="stats-and-standings">
    <section class="league-table-section" ng-controller="LeagueTable">
        <section class="choose-league">
            <button ng-repeat="league in ['I League', 'II League', 'III league']" 
                ng-click="setCurrentTable($index + 1)"
                class="league-choose-btn"
                ng-class="{'current': currentLeague === $index + 1}"
                >
                {{league}}
            </button>
        </section>
        <div class="league-table">
            <div class="league-table-row">
                <span>Place</span>
                <span>Team</span>
                <span>games</span>
                <span>w-l</span>
                <span>points</span>
            </div>
            <div class="league-table-row" ng-repeat="team in currentTeams">
                <span>{{$index + 1 }}</span>
                <span>{{team.name}} </span>
                <span>{{team.wins + team.losses}}</span>
                <span>{{team.wins}}-{{team.losses}}</span>
                <span>{{team.points}}</span>
            </div>
        </div>
    </section>
</section>