@mixin set-font($color: inherit, $family: inherit, $size: inherit, $weight:inherit){
    color:$color;
    font: {
        family:$family;
        size:$size;
        weight:$weight;
    }    
}
@mixin addPseudo($name: 'before', $pos:absolute,$top:0,$left:0, $width:100%, $height:2px, $bc, $display:block){
    &:#{$name}{
        content: '';
        position: $pos;
        width: $width;
        height: $height;
        background-color: $bc;
        top:$top;
        left: $left;
        display: $display;
    }

}