*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    background-color: whitesmoke;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}
a{
    color: inherit;
}
.main-container{
    margin: 2rem auto 4rem auto;
    min-height: 62vh;
    width: 90%;
    display: flex;
    justify-content: center;
    text-transform: none;
}
ul{
    list-style-type:none;
    padding: 0;
    margin: 0;
}