$burgerWidth:30px;
.burger{
    width: $burgerWidth;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
}
.burger:hover{
    cursor: pointer;
}
.bar{
    width:$burgerWidth;
    background-color: rgb(0, 0, 0);
    padding:1px 0;
    border-radius: 8px;
}
$burgerAnimationTime: .3s;
.top-animated{
    animation:slide-top $burgerAnimationTime linear forwards;
}
.bottom-animated{
    animation: slide-bottom $burgerAnimationTime linear forwards ;
}
.center-animated{
    animation: slide-center $burgerAnimationTime linear forwards;
}
.top-animated-reverse{
    animation:slide-top-rev $burgerAnimationTime linear forwards;
}
.bottom-animated-reverse{
    animation: slide-bottom-rev $burgerAnimationTime linear forwards;
}
.center-animated-reverse{
    animation: slide-center-rev $burgerAnimationTime linear forwards;
}
$transformSize: 12px;
@keyframes slide-top {
    0%{
        transform: translateY(0);
    }
    50%{    
        transform: rotate(0) translateY($transformSize);
    }
    100%{
        transform: translateY($transformSize) rotate(45deg);
    }
}
@keyframes slide-bottom{
    0%{
        transform: translateY(0);
    }
    50%{    
        transform: translateY(-$transformSize);
        
    }
    100%{
        transform: translateY(-$transformSize) rotate(135deg);
    }
}
@keyframes slide-center{
    from{
        transform: scale(1);
        opacity: 1;
    }
    to{
        transform: scale(0);
        opacity: 0;
    }
}
@keyframes slide-top-rev {
    0%{
        transform: translateY($transformSize) rotate(45deg);
    }
    50%{    
        transform: translateY($transformSize) rotate(0);
    }
    100%{
        transform: translateY(0) rotate(0);
    }
}
@keyframes slide-bottom-rev{
    0%{
        transform: translateY(-$transformSize) rotate(135deg);
    }
    50%{    
        transform: translateY(-$transformSize) rotate(0);
        
    }
    100%{
        transform: translateY(0) rotate(0);
    }
}
@keyframes slide-center-rev{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}