@use '../../../variables/colors' as c;
.burger{
    align-self: flex-end;
    margin-right: 10px;
}
.nav-phone{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}
.nav-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: absolute;
    width: 100%;
    background-color:c.$main-color;
    top: 35px;
    .nav-item{
        width: 100%;
        text-align: center;
    }
    .logout-icon{
        margin: 0;
    }
    .logout-btn{
        margin: 0;
    }
}
.nav-list.ng-enter{
    transition:scale .3s ease-out, opacity .3s ease-out;
    will-change: scale;
    scale:0;
    opacity: 0;
}
.nav-list.ng-enter.ng-enter-active{
    scale: 1;
    opacity: 1;
}
.nav-list.ng-leave{
    transition:scale .3s ease-out, opacity .3s ease-out;
    will-change: scale;
    scale:1;
    opacity: 1;
}
.nav-list.ng-leave.ng-leave-active{
    scale: 0;
    opacity: 0;
}