@use '../variables/colors' as c;
@use '../mixins/mixins' as mix;
@use '../components/home/game-slider.scss';
@use '../components/home/league-table.scss';

.stats-and-standings{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;   
}